PREI
SAI
Scripts
ast
collections
colorama==0.4.6
config
data_integration
data_warehouse
datetime
docx
downloaded_files_manager
facturas_imss
glob
hashlib
helpers
jinja2==3.1.6
json
lxml==5.3.2
matplotlib
numpy==2.2.5
openpyxl==3.1.5
os
pandas==2.3.1
pathlib
platform
re
selenium==4.31.0
sql_connexion_updating
sqlalchemy
subprocess
sympy==1.13.1
tempfile
time
typing
web_automation_driver
yaml
zipfile